
.main-container{
    max-width: 1920;
    width: 100%;
    height: 100vh;
}

.main-background{
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image:linear-gradient(rgba(25, 25, 25, 0.6),rgba(0,0,0,0.6)), url(../joekulsarlon-aurora.webp);
    position: relative;

}

header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 65px 536px 163px 98px;

}

header img{
            margin-right: 341px;
}



nav ul {
        display: flex;
        gap:86px;
        font-size: 24px;
        color: #e3f4ff;
}
nav ul li {
        
    
    transition: 0.5s;
    cursor: pointer;
   
}


nav ul li:hover{
    box-shadow: 0px 0px 8px 2px rebeccapurple;
    color: aqua;
        
}

.main-text{ width: 820px;
            height: 140px;
    /* border: 2px solid red; */
            
        margin: 0 550px 290px;
        text-align: center;

}

.main-text h2{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

.main-text h1{
        width: 820px;
        font-size:95px;
        color: #ffffff;
}

.content{ 
    top: 500px;
    left: 300px;
    width: 1117px;
        height: 168px;
        /* border:2px solid red; */
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap:0px 3px

}

.box{
        width: 150px;
        height: 46px;
        /* border: 2px solid rebeccapurple; */
        padding:11px 24px;
        color: #3d5f8f;
        font-size: 20px;
        font-weight: bold;
        background-color: #ffffff;
        
        
}

.box1{width: 150px;
    height: 46px;
    background-color: #000000   ;
    /* border: 2px solid rebeccapurple; */
    padding:11px 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    
    
}

.main-content{
    
    width: 1117px;
    height: 125px;
    /* border:5px solid seagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 58px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px;
    
    
    

}

.main-content p{ 
    margin-top: 15px;
    font-weight: bold;
}




.fa-solid{
        color: rgb(192, 192, 192);
}

#button-div{
    width: 162px;
        height: 61px;
        background-image: linear-gradient(rgba(0, 124, 219, 0.6),rgba(0, 0, 0, 0.6));
        background-color: #5c28ea;
        padding: 7px 37px;
        color: #ffffff;
        cursor:pointer;
        
}
#Lets-go{
    font-size: 21px;
}

